<% if user_signed_in? %>
  <%= form_for @question, question_answer_comments_path(@question, @answer) do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class:"form-control", placeholder: "Ingresa tu comentario" %>
    </div>
    <div class="form-group">
      <%= f.submit "Comentar", class:"btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<!-- @question.answers.find(4).comments.build -->

<!-- question_answer_comments_path(@question, @question.answers[0]) -->

<!-- @question.answer.comments.build -->

<!-- {"_method"=>"delete", "authenticity_token"=>"1gbXc2wXIuA+UAbwtIoNNz3PCS123nq65ibET23Bd5smpki5amHBBaCbzjAhIvnAYoBb65iFfku86Up25vjQ9g==", "controller"=>"comments", "action"=>"destroy", "question_id"=>"3", "answer_id"=>"4", "id"=>"25"}
(byebug)  -->

<!-- localhost:3000/questions/3/answers/4/comments/25 -->