<h1>Preguntas</h1>
<div class="text-right">
  <%= link_to "Hacer una Pregunta", new_question_path, class:"btn btn-primary" %>
  <br><br>
</div>
  <div class="row">
    <table class="table table-stripped">
      <% @questions.each do |question| %>
        <tr>
          <td>
            <p class="creator">Votos</p>
          </td>
          <td>
            <p class="creator">Respuestas</p>
          </td>
          <td>
            <%= link_to question.title, question, class:"title" %> <br>
            <p class="creator">Preguntó <%= question.user.email %> hace <%= time_ago_in_words(question.created_at) %></p>
          </td>
        </tr>
      <% end %>
    </table>
</div>



