<h2><%=@question.title %></h2>
<br>
<div class="row">
  <div class="col-sm-1">
    <!-- Poner los votos -->
  </div>
  <div class="col-sm-11">
    <p><%= markdown(@question.description) %></p>
  </div>
</div>
