footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

//Clase creada para estilizar el Index de las preguntas
.title {
  font-weight: bold;
  color: #FF8000;
  font-size: 16px;
}

.creator {
  color: #A3A3A3;
  font-size: 12px;
}