<!-- Este form no tiene Submit Button porque al ser un text_field con presionar ENTER envía los datos -->

<%= form_tag questions_path, method: :get, class:"navbar-form navbar-left" do %>
  <div class="form-group">
    <%= text_field_tag :question, params[:question], class:"form-control", placeholder:"Buscar pregunta" %>
  </div>
<% end %>